langchain_core
python-dotenv
streamlit
langchain_community
langserve
pypdf
faiss-cpu
google-generativeai
chromadb
langchain-chroma
langchain_google_genai
marker-pdf
unstructured[md]
llama-parse
langchain-google-firestore
